@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');


.home {
    
  display: flex;
   flex-direction: row;
   padding: 4rem 2rem;

    
}
.about{
 flex-direction: column;
position: relative;
font-family:  'Poppins', sans-serif;
text-align: start;
font-size: 15px;
margin-left: 27px;
}

.photo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 2rem; /* Add some space between the items */
    font-size: 30px;
   margin-left: 15%;
}
.wel {
    background-image: url(../assetes/backkey.jpg);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Lobster', cursive, 'Poppins', sans-serif;
}

h1 {
    color: black; /* Ensure the header is visible */
    font-family: 'Lobster', cursive;
   }

@media screen and (max-width: 600px) {
    .home {
      flex-direction: column;
      padding: 2rem 1rem; 
    }
  
    .about {
      font-size: 12px; 
      margin-left: 10; 
      padding: 1rem; /* Add padding for spacing */
    }
  
    .photo {
      flex-direction: column;
      gap: 1rem; 
      font-size: 20px; 
      margin-left: 0; 
    }
  
    .wel {
      font-size: 20px; 
    }
  
    h1 {
      font-size: 24px; 
    }
  }
